<!-- header.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <button class="home-logo" (click)="openItem('home')">
      <img src="assets/logo.png" alt="Logo">
    </button>
  </div>
  <button class="hamburger" (click)="toggleNavbar()">☰</button> <!-- Hamburger Icon -->
  <ul class="navbar-nav" [class.active]="navbarOpen">
    <li class="nav-item">
      <button (click)="openItem('view-profile')">Profile</button>
    </li>
    <li class="nav-item">
      <button (click)="openItem('login')">Login</button>
    </li>
    <li class="nav-item">
      <button (click)="openItem('register')">Register</button>
    </li>
    <li class="nav-item">
      <button (click)="openItem('home')">Search</button>
    </li>
  </ul>
</nav>
