<!-- header.component.html -->
<nav class="navbar">
  <div class="navbar-brand">
    <img src="assets/logo.png" alt="Logo">
  </div>
  <button class="hamburger" (click)="toggleNavbar()">☰</button> <!-- Hamburger Icon -->
  <ul class="navbar-nav" [class.active]="navbarOpen">
    <li class="nav-item"><a href="#" class="nav-link">Search</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Login</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Register</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Profile</a></li>
  </ul>
</nav>
