/* header.component.scss */
@import "../../styles.scss";

/* footer.component.scss */
.app-footer {
  background-color: $secondary-color; // Use your secondary color
  color: $primary-color;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: center;
  height: 4vh;
  width: 100vw;

  a {
    color: $accent_color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .container {
    height: 100%;
    max-width: 100vw;
    margin: auto;
    padding: 0 15px;
  }
}

