@import '../../../styles.scss';

.booking-search {
    @include flex();
    flex-wrap: wrap;
    max-width: 60vw;
    background-color: white;
    border-radius: 20px;
    color: $main_blue;
    font-weight: bold;
    padding: 1rem;
}

#numberOfPeople {
    width: 5vw;
}

#lowestRating, #highestRating {
    width: 2vw;
}

.upper-search, .lower-search, .search-div{
    @include flex();
    width: 100vw;
    height: 5vh;
    padding: 0;
    padding-bottom: 2vh;

    .single-input {
        margin-left: 2vw;
        margin-right: 2vw;
    }


    label {
        margin-right: 0.5vw;
    }
    input, select {
        border-radius: 20px;
        padding-left: 10px;
        padding-right: 10px;
        border-color: $main_blue;
        border-width: 2px;
        height: 4vh;
    }
}

button {
    background-color: $accent_color;
    color: white;
    border-radius: 10px;
    width: 10vw;
    height: 5vh;
}