<!-- Edit Profile Page -->

<!-- Account Management Page -->
<div class="account-container">
  <div class="account-card">
    <div class="profile-section">
      <div class="profile-image">
        <img src="../../assets/default-user-photo.jpg" alt="Profile Picture" class="user-photo">
      </div>
      <form class="profile-form">

        <h2>Profile</h2>

        <div class="form-group">
          <label for="firstName">First Name</label>
          <input readonly required type="text" id="firstName" name="firstName" placeholder="Enter first name">
        </div>

        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input readonly required type="text" id="lastName" name="lastName" placeholder="Enter last name">
        </div>

        <div class="form-group">
          <label for="emailAddress">Email Address</label>
          <input readonly required type="email" id="emailAddress" name="emailAddress" placeholder="Enter email address">
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input readonly required type="password" id="password" name="password" placeholder="Enter password">
        </div>

        <div class="form-group">
          <label for="confirm-password">Confirm Password</label>
          <input readonly required type="confirm-password" id="confirm-password" name="confirm-password" placeholder="Confirm password">
        </div>

        <div class="form-group">
          <label for="homeAddress">Home Address</label>
          <input readonly required type="text" id="homeAddress" name="homeAddress" placeholder="Enter home address">
        </div>

        <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input readonly required type="tel" id="phoneNumber" name="phoneNumber" placeholder="Enter phone number">
        </div>

        <div class="actions">
          <button (click)="openProfileEditor()" class="action-btn edit-account-btn">Edit Account</button>
        </div>
      </form>
    </div>
  </div>
</div>
