<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create Accommodation</title>
</head>
<body>
<h1>Create New Accommodation</h1>
<form action="/submit-accommodation" method="POST" class="form-container">
  <div class="column">
    <label for="name">Name:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="4" cols="50"></textarea><br><br>

    <label for="location">Location:</label><br>
    <input type="text" id="location" name="location"><br><br>

    <label for="amenities">Amenities</label><br>
    <select id="amenities-select" name="amenities-select">
      <option value="wi-fi">Wi-fi</option>
      <option value="tv">TV</option>
    </select><br><br>
    <button type="button" id="add_amenity_button">Add Date</button><br>

    <label for="photos">Photos :</label><br>
    <input type="file" id="photos" name="photos" multiple><br><br>
  </div>

  <div class="column">
    <label for="min_guests">Minimum number of guests:</label><br>
    <input type="number" id="min_guests" name="min_guests"><br><br>

    <label for="max_guests">Maximum number of guests:</label><br>
    <input type="number" id="max_guests" name="max_guests"><br><br>

    <label for="accommodation_type">Type:</label><br>
    <select id="accommodation_type" name="accommodation_type">
      <option value="studio">Studio</option>
      <option value="room">Room</option>
      <!-- Add other accommodation type options if needed -->
    </select><br><br>

    <label for="start_date">Start Date:</label><br>
    <input type="date" id="start_date" name="start_date"><br><br>

    <label for="end_date">End Date:</label><br>
    <input type="date" id="end_date" name="end_date"><br><br>
    <button type="button" id="add_date_button">Add Date</button><br>

    <label for="price">Price per Night:</label><br>
    <input type="number" id="price" name="price"><br><br>
  </div>

  <div class="button-container">
    <button type="submit">Create</button>
  </div>
</form>
</body>
</html>
