<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Define Accommodation</title>
</head>
<body>
<h1>Accommodation : #ID</h1>

<div class="container">
  <label id="available-dates">Available dates:</label><br>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Date from</th>
        <th>Date to</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <input type="date">
    <input type="date">
  </div>
  <button>Add</button>


  <label id="prices">Prices:</label><br>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Date from</th>
        <th>Date to</th>
        <th>Price</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <input type="date">
    <input type="date">
  </div>
  <div class="row">
    <input type="number">
    <select>
      <option value="per-guest">Per guest</option>
      <option value="per-apartment">Per apartment</option>
    </select>
  </div>
  <button>Add</button>
</div>
</body>
</html>
