<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Define Accommodation</title>
</head>
<body>
<h1>Define accommodation dates and prices</h1>
<h2>Accommodation : #ID</h2>

<div class="container">
  <label id="available-dates">Available dates:</label><br>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Date from</th>
        <th>Date to</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
        <tr>
          <td>DATUM1</td>
          <td>DATUM2</td>
          <td>X</td>
        </tr>
      </tbody>
    </table>
  </div>
  <label>Enter date range :</label>
  <div class="row">
    <input type="date">
    <input type="date">
  </div>
  <button>Add</button>


  <label id="prices">Prices:</label><br>
  <div class="table-container">
    <table>
      <thead>
      <tr>
        <th>Date from</th>
        <th>Date to</th>
        <th>Price</th>
        <th>Type</th>
        <th>Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      <tr>
        <td>DATUM1</td>
        <td>DATUM2</td>
        <td>50</td>
        <td>per guest</td>
        <td>X</td>
      </tr>
      </tbody>
    </table>
  </div>
  <label>Enter date range :</label>
  <div class="row">
    <input type="date">
    <input type="date">
  </div>
  <label>Enter price and price type :</label>
  <div class="row">
    <input type="number">
    <select>
      <option value="per-guest">Per guest</option>
      <option value="per-apartment">Per apartment</option>
    </select>
  </div>
  <button>Add</button>
  <label>Define the deadline for canceling the reservation:</label>
  <input type="number" id="cancel-days-input">
</div>
</body>
</html>
