<div class="review-card">
    <div class="profile-picture">
        <div class="picture">
            <img src="https://t4.ftcdn.net/jpg/02/29/75/83/360_F_229758328_7x8jwCwjtBMmC6rgFzLFhZoEpLobB6L8.jpg"/>
        </div>
        <p>User 1</p>
    </div>

    <div class="description">
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Cras hendrerit ligula arcu, eu elementum enim elementum at.
            Aliquam urna mi, ornare vitae eros quis, gravida feugiat dui.
            Sed vehicula, erat vitae scelerisque dictum, ligula tellus ultricies enim, eu blandit dui mauris et erat. Duis nunc sem, sodales ut dapibus sed.
        </p>
    </div>

    <div class="rating">
        <p>9.4/10</p>
    </div>
</div>
