<div class="container">
  <main class="main-content">

    <h2>Requests</h2>
    <app-approval-card
      [status]="UserRequestStatus.CREATED"
      [name]=" 'Place 1' "
    ></app-approval-card>
    <app-approval-card
      [status]="UserRequestStatus.PENDING"
      [name]=" 'Place 2' "
    ></app-approval-card>
    <app-approval-card
      [status]="UserRequestStatus.APPROVED"
      [name]=" 'Place 3' "
    ></app-approval-card>
    <app-approval-card
      [status]="UserRequestStatus.DECLINED"
      [name]=" 'Place 4' "
    ></app-approval-card>
    <app-approval-card
      [status]="UserRequestStatus.CHANGED"
      [name]=" 'Place 5' "
    ></app-approval-card>
    <app-approval-card></app-approval-card>
    <app-approval-card></app-approval-card>
    <app-approval-card></app-approval-card>
  </main>
</div>

