@import "../../../styles.scss";

.register-container {
  @include flex();
  display: flex;
  flex-direction: column;
  text-align: center;
  color: white;
  height: 87vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

h2 {
  color: $secondary-color;
}

.register-form {
  background-color: $secondary-color;
  color: $tertiary-color;
}

.register-form {
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.register-input {
  width: calc(100% - 22px);
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


.register-button {
  width: 100%;
  padding: 10px;
  border: 2px solid white;
  border-radius: 5px;
  background-color: dodgerblue;
  color: white;
  cursor: pointer;
  margin-bottom: 15px;
  margin-top: 15px;
}

.register-button:hover {
  background-color: #0b7dda;
}

#sign-in-label a {
  color: black;
  text-decoration: none;
}

#sign-in-label a:hover {
  text-decoration: underline;
}

.error-message {
  padding-top: 1vh;
  padding-bottom: 1vh;
  color: red;
  font-weight: bold;
}

#account-type {
  margin-left: 0.5vw;
}