$main_blue: #2094FF;
$accent_color: #007BFF;

$yellow: #FFC107;
$green: #28a745;
$red: #dc3545;

$primary-color: #007bff;   /* Blue */
$secondary-color: white; /* white */
$tertiary-color: #6c757d; /* Gray */
$background-color: $main_blue;   /* Blue */
//$accent_color: #dc3545;    /* Red */

body {
  background-color: $background-color;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: block;
    margin: 0;
    padding: 0;
}
